<% layout("layouts/boilerplate.ejs") %> 
<% if(product){ %> 
Your cart
<br>
<div class="row justify-content-evenly">
<div class="col-8">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody> 
      <tr>
        <th scope="row">1</th>
        <td><%= product.title %> </td>
        <td><%= qty  %> </td>
        <td><%= product.price  %> </td>
      </tr> 
    </tbody>
  </table>
  </div>
<div class="col-4">
    Subtotal
    <table class="table table-borderless table-sm">
        <th><%= product.title %> </th>
        <td><%- product.price*qty %> </td>
    </table>
    <div class="row justify-content-evenly">
    <div>
        Total
    </div>
    <div>
        <%- product.price*qty %>
    </div>
    </div>
</div>
  </div>
  <% } %>
  <% if(!product){ %>
    <h1 style="text-align: center; margin-top: 10%">Cart is Empty</h1>
    <% } %>   